.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgray;
  min-width: 10vw;
}

.sidebar__header--right {
  display: flex;
  gap: 1vw;
  min-width: 10vw;
}

.sidebar__search {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  height: 39px;
  padding: 20px 5px;
}

.sidebar__search--container {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 35px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.sidebar__search--container > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar__chats {
  flex: 1;
  background: #fff;
  overflow-y: scroll;
}
